<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

<link rel="stylesheet" type="text/css" href="static/semantic/dist/semantic.min.css" />

<script src="static/semantic/dist/jquery.min.js"></script>
<script src="static/semantic/dist/semantic.min.js"></script>

<link rel="shortcut icon" type="image/png" href="static/icon.png"/>

<!--
<style>
a {
color: #fecc00;
}
body {
background-color: #006aa7;
color: #fecc00;
}
</style>
-->

<style>
a {
color: #006aa7;
}
</style>
