<!DOCTYPE html>
<html>
<head>
    {% include "head_header.html" %}
    <title>Join | {{ event_title }}</title>
    <meta property="description" content="Join {{ event_title }}" />
</head>
<body>

<!-- Header -->
  <div class="ui inverted blue vertical masthead center aligned segment">
      <div class="ui green inverted segment">
          <h1 class="ui white header">
            {{ event_title }}
          </h1>
      </div>
        <div class="ui text container">
          <div class="ui large secondary inverted menu">
            <a href="/" class="item">Info</a>
            <a href="about" class="item">About</a>
            <a href="join" class="active item">Join</a>
            <a href="result" class="item">Result</a>
          </div>
        </div>
  </div>


<div class="ui vertical stripe segment">
    <div class="ui text container">
          <h3 class="ui horizontal header divider">
            <a href="#">Event Ended</a>
          </h3>
          <p>The tournament has ended. You can check the result <a href="./result">here</a>.</p>
    </div>
</div>
{% include "footer.html" %}
</body>
</html>
